
:root {
--text-color: #2b2b2b;/*Black*/
--primary-color: fff;/*white*/
--background-color: #9de0ce;/*Sea Green*/
}

.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: left;;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  width: 33%;
}

h1{
  color: green;
}
body {
margin: 20px;
display: flex;
flex-direction: column;
font-family: 'Roboto', sans-serif;
font-weight: 550;
line-height: 1.6;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 2px;
  border: solid 0.3em transparent;
  margin: 0px;
  color: inherit;
  background-color: var(--background-color);
  border-radius: 15px;
  max-width: 700px;
}
.page-header__item{
  float: left;
  height: 60%;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: left;
}
.pokemon_list_title{
  max-width: 700px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}
